<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Страница групп</title>
</head>
<body>
  <div class="sidebar">
    <div class="menu">
      <div *ngFor="let group of groups" class="group-item" (click)="selectGroup(group)">
        {{ group.name }}
      </div>
    </div>
    <div class="add-group">
      <button mat-raised-button color="primary"
      (click)="createNewGroup()"
      >+</button>
    </div>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</body>
</html>








