.buttons {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 60%;
  transform: translateX(-50%);
  width: 1550px;
  border-top: 1px solid #000;
}

.button {
  flex: 1;
  padding: 20px;
  text-align: center;
  background-color: #f0f0f0;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.plans {
  border-right: 1px solid #000;
}

.add-plan_purchase {
  position: fixed;
  bottom: 60px;
  left: 60%;
  transform: translateX(-50%);
}

.add-button {
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: #fff;
  background-color: #3f51b5;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

