.buttons {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 60%;
  transform: translateX(-50%);
  width: 1550px;
  border-top: 1px solid #000;
}

.button {
  flex: 1;
  padding: 20px;
  text-align: center;
  background-color: #f0f0f0;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.plans {
  border-right: 1px solid #000;
}

.add-plan_purchase {
  position: fixed;
  bottom: 60px;
  left: 60%;
  transform: translateX(-50%);
}

.add-button {
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: #fff;
  background-color: #3f51b5;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  max-width: 90%;
}

.header h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.add-button-user {
  position: absolute;
  right: 0vw;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #fff;
  background-color: #3f51b5;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap;
}


.add-button-user:hover {
  background-color: #303f9f;
}

.check-users {
  position: absolute;
  right: 18vw;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #fff;
  background-color: #3f51b5;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap;
}

.check-users:hover {
  background-color: #303f9f;
}
