<h1 mat-dialog-title>Изменить продукт</h1>
<div mat-dialog-content>
  <mat-form-field class="full-width-input">
    <input matInput type="text" placeholder="Название продукта" [(ngModel)]="editingProduct.name" required>
  </mat-form-field>
  <mat-form-field class="full-width-input">
    <input matInput type="number" placeholder="Цена продукта" [(ngModel)]="editingProduct.price" required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Отмена</button>
  <button mat-raised-button color="primary" (click)="confirmEdit()" >Сохранить</button>
</div>
