<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 full-width-table">

    <ng-container matColumnDef="Магазин">
      <th mat-header-cell *matHeaderCellDef>Магазин</th>
      <td mat-cell *matCellDef="let purchase">{{ purchase.storeName }}</td>
    </ng-container>
  
    <ng-container matColumnDef="Дата">
      <th mat-header-cell *matHeaderCellDef>Дата</th>
      <td mat-cell *matCellDef="let purchase">{{ purchase.date }}</td>
    </ng-container>

    <ng-container matColumnDef="Покупатель">
        <th mat-header-cell *matHeaderCellDef>Покупатель</th>
        <td mat-cell *matCellDef="let purchase">{{ purchase.userPayer }}</td>
    </ng-container>
  
    <ng-container matColumnDef="Цена">
      <th mat-header-cell *matHeaderCellDef>Цена</th>
      <td mat-cell *matCellDef="let purchase">{{ purchase.amount }}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let purchase; columns: displayedColumns"
    (click)="routeToThisPlan(purchase.id)"></tr>

  </table>
