html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
}



.task-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: none;
  height: 100%;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: relative;
}


.task-name,
.comment {
  display: flex;
  gap: 10px;
}

.task-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.task-textarea {
  height: 100px;
  resize: none;
}

.full-width-table {
  width: 100%;
  overflow-x: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

mat-header-cell,
mat-cell {
  padding: 10px;
  text-align: left;
}

.add-product,
.save-plan {
  align-self: flex-end;
  margin-top: 10px;
  font-size: 16px;
  padding: 10px 20px;
}

.add-product {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 24px;
}

.full-width-table {
  width: 100%;
  min-width: 100%;
  table-layout: fixed;
}

.delete-plan {
  align-self: flex-start;
  margin-top: 10px;
  font-size: 16px;
  padding: 10px 20px;
}

.purchase-plan {
  align-self: flex-start;
  margin-top: -140px;
  font-size: 16px;
  padding: 10px 20px;
}

.cancel-button {
  position: absolute;
  top: -50px;
  left: 22px;
  z-index: 10;
}
