<h1 mat-dialog-title class="title">Профиль</h1>

<div mat-dialog-content class="profile-container">
  <div class="avatar-container">
    <div class="avatar">👤</div>
  </div>

  <mat-form-field class="full-width-input">
    <mat-label>Никнейм</mat-label>
    <input matInput type="text" readonly [(ngModel)]="userProfile.username">
  </mat-form-field>

  <mat-form-field class="full-width-input">
    <mat-label>Почта</mat-label>
    <input matInput type="text" readonly [(ngModel)]="userProfile.email">
  </mat-form-field>

  <mat-form-field class="full-width-input">
    <mat-label>ID</mat-label>
    <input matInput type="number" readonly [(ngModel)]="userProfile.id">
  </mat-form-field>
</div>

<div mat-dialog-actions class="actions">
  <button mat-button mat-dialog-close color="primary">Закрыть</button>
</div>
